.profile-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.rocket-title{
  font-weight: 400;
  color: rgb(18, 17, 17);
}

.display-rockets {
  display: flex;
  flex-direction: column;
  
}

.reserved-rocket {
  list-style: none;
  padding: 1rem;
  border: 1px solid rgba(18, 17, 17, 0.542);
  border-top: none;

}

.reserved-rocket:first-child {
  border-top: 1px solid rgba(18, 17, 17, 0.542);
}

.reserved-rocket:last-child {
  border-bottom: 1px solid rgba(18, 17, 17, 0.542);
}