.nav-container {
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  border-bottom: 1px solid gainsboro;
}

.logo-container {
  display: flex;
}

.planet-logo {
  width: 4rem;
  height: 3rem;
}

.nav-items {
  display: flex;
  list-style: none;
  text-decoration: none;
  gap: 2rem;
}

#navlink {
  list-style: none;
  text-decoration: none;
  color: rgb(6, 167, 172);
}

a.active {
  color: rgb(128, 6, 0);
}
